.simple-container {
  width: 20%;
  margin: 0 auto;
  border: 1px solid #ce6;
  padding: 10px;
}

.table-container {
  table-layout: fixed;
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table-container__narrow {
  width: 30%;
}

.table-container,
.table-cell {
  border: 1px solid #ce6;
}

.table-cell {
  padding: 10px;
}
